---
layout: default
title: Welcome
body:
  class: home
---
<!-- Blog Summaries -->
<section>
	<header>
		<h2 class="title">Blog</h2>
	</header>
	
	{% for post in site.posts %}
	<article class="entry blog-entry">
		<header>
			<h2 class="title"><a href="{{ post.url }}">{{ post.title }}</a></h2>
		</header>

		{{ post.excerpt }}

		<footer>
			<time itemprop="dateCreated">{{ post.date | date: "%B %-d, %Y" }}</time>
			<ul class="inline-list comma-list tag-list">
				{% for cat in post.categories %}
					<li><a href="/tags/{{ cat }}">{{ cat | capitalize }}</a></li>
				{% endfor %}
				<!-- <li><a href="#">SilverStripe</a></li>
				<li><a href="#">PHP</a></li>
				<li><a href="#">Design Patterns</a></li> -->
			</ul>
			<p><a href="{{ post.url }}">Permalink</a></p>
		</footer>
	</article>
	{% endfor %}
</section>

<!-- Project Listings (Lab) -->
<section>
	<header>
		<h2 class="title">Lab</h2>
	</header>
	
	{% for project in site.data.lab %}
	<article>
		<header>
			<h2 class="title"><a href="/lab/{{ project.id }}">{{ project.name }}</a></h2>
		</header>
		
		<p>{{ project.desc }}</p>
		
		<footer>
			<ul>
				<li>Current version: {{ project.version }}</li>
				<li><a href="/lab/{{ project.id }}">Project Page</a></li>
				<li><a href="http://github.com/{{ site.social.github }}/{{ project.id }}">GitHub Repo</a></li>
			</ul>
		</footer>
	</article>
	{% endfor %}
</section>