// Mixins

////////// GENERAL MIXINS
@mixin border-box-all-the-things {
  html {
    box-sizing: border-box;
  }

  * {
    &,
    &:before,
    &:after {
      box-sizing: inherit;
    }
  }
}

@mixin button-base {
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  @content;
}

@mixin reset-mp {
  margin: 0;
  padding: 0;
}

@mixin reset-list {
  @include reset-mp;
  list-style: none;
}

@mixin inline-meta-list {
  display: inline-block;
  margin-right: ems(5px);
  line-height: 1.25;
}

// @mixin rem-property($value, $property: font-size) {
//   $values: remify($value);
//   $property: unquote($property);
//   #{$property}: nth($values, 1);
//   #{$property}: nth($values, 2);
// }
