.meta {
  // font-size: ems(14px);
}

.meta-item {
  display: inline-block;

  &:before {
    color: $accent-color;
    content: '//\A0';
  }

  a {
    font-weight: normal;
  }
}

ul.meta-item {
  > li:first-child {
    margin-left: -3px;
  }
}

.intro {
  font-size: 1.25em;
  font-style: italic;
}

.pull-right {
  float: right;
}
