.lab-feed {
//  text-align: justify;
//  font-size: 0.1px;

//  > header {
//    margin-bottom: 18px;
//  }

//  &:after {
//    content: '';
//    display: inline-block;
//    width: 100%;
//  }
}

.lab-entry {
  font-size: ems(18px);
  margin-top: 1em;

  .title {
    font-size: ems(18px);
    margin-bottom: .5em;
    margin-top: 0;
  }

  header + p {
    margin-top: 0;
  }
}

// .lab-meta {}
